<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= user_path(current_user) if current_user %>">Catbeach.club</a>
  <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn' if current_user %>
</nav>