<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'users' %>" href="<%= user_path(current_user)%>">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'store' %>" href="/store">Store</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your Spot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Settings</a>
  </li>
</ul>